@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


$primary: #1d7618;
$secondary: #fffcf5;
$black: #000;
$grey: #595959;

body{
  background-color: $secondary;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.wrapper{
  max-width: 900px;
  margin: auto;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5%;
  img{
    width: 85%;
    height: auto;
    max-height: 35vh;
    padding-left: 10%;
  }
  text-align: center;
}

.text-wrap{
  max-width: 600px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Ubuntu", system-ui;
}

a{
  color: $primary;
}

h1{
  font-size: 36px;
  line-height: 1;
  margin-bottom: 0;
}

p{
  line-height: 1.3;
  color: $grey;
}

.buttons{
  text-align: center;
  margin: 24px auto 48px auto;
  a{
    text-decoration: none;
    padding: 5px 40px;
    border-radius: 10px;
    border: 2px solid $primary;
    margin: 0 14px;
    font-size: 36px;
    font-family: "Ubuntu", system-ui;
  }
  :nth-child(2n + 1){
    background-color: $primary;
    color: $secondary;
  }
  :nth-child(2n){
    background-color: $secondary;
    color: $primary;
  }
}

.section{
  margin: 100px auto;
  h1{
    text-align: center;
    margin-bottom: 48px;
  }
}

.wrapper{
  .collapsible-card-edonec{
    box-shadow: none;
    &:hover{
      box-shadow: none;
    }
  }
  .collapsible-header-edonec, .collapsible-content-edonec{
    border-bottom: none!important;
  }
  .title-text-edonec{
    margin: 0;
  }
  .collapsible-content-padding-edonec{
    padding-top: 0;
  }
  .title-text-edonec{
    color: $primary;
  }
}

.icon{
  width: 75px;
  height: auto;
  margin: auto;
  display: block;
}

.news-item{
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 48px;
  .date{
    margin-top: 24px;
  }
  p{
    margin-top: 10px;
  }
  img, video{
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 50vh;
    display: block;
    margin: auto;
  }
}

footer{
  margin-top: 200px;
  text-align: center;
  a{
    text-decoration: none;
  }
}

.page{
  text-align: center;
}